<script src="/js/accessControlUsers.js"></script>
<style>
    #tableContainer {
        width: 80%;
        margin-left: 10%;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .modalContainer {}
</style>
<div class="app-body">
    <!-- Main content -->
    <main class="main">
        <nav aria-label="breadcrumb" role="navigation">
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/index">Index</a>
                </li>
                <li class="breadcrumb-item">Gestione utenti</li>
            </ol>
        </nav>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row mt-3">
                    <div class="col-md-8">

                        <div class="card" id="card">
                            <div class="card-header">
                                <h2>Applicazione:
                                    <strong id="serviceName"></strong>
                                </h2>
                            </div>
                            <div class="mt-3 mb-2 row ml-3" id="cardBody">
                                <label for="getOrganizationForTable">Filtra utenti per Organizzazione: </label>
                                <div class="col-md-4">
                                    <input type="text" hidden id="roleUser" value="{{user.attributes}}" /> {{#if user.isSuperAdmin}}
                                    <input type="text" hidden id="isSuperAdminInput" value="{{user.isSuperAdmin}}" />
                                    <input type="text" name="getOrganizationForTable" class="form-control" id="getOrganizationForTable" data-placeholder="Cerca Applicazione"
                                    /> {{else}}
                                    <select data-placeholder="Cerca gli attributi" name="getOrganizationForTable" id="getOrganizationForTable" class="form-control"
                                        id="getOrganizationForTable">
                                        <option selected value disabled>Seleziona un'organizzazione</option>
                                        {{#each user.organizzazioni}}
                                        <option itemCode="{{this.description}}" id="{{this.codiceIpa}}" value="{{this.codiceIpa}}">{{this.description}}</option>
                                        {{/each}}
                                    </select>
                                    {{/if}}

                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary" id="visualizzaGriglia">Visualizza</button>
                                </div>
                                <div id="buttonAddUserToApplication" class="mt-3 mb-1 row ml-3" style="display: none"></div>
                            </div>
                            <div class="col-md-2" id="noResults" style="display: none">Nessun risultato trovato</div>
                            <div id="tableContainer">
                                <table class="table table-hover table-outline mb-0" id="tableUser" style="display: none">
                                    <thead class="thead-default">
                                        <tr>
                                            <th scope="col" class="pa-servicename">Utente</th>
                                            {{!--
                                            <th scope="col" class="pa-action">Amministrazione</th> --}}
                                            <th scope="col" class="pa-action">Attributo</th>
                                            <th scope="col" class="pa-action">Azioni</th>
                                        </tr>
                                    </thead>
                                    <tbody id="applicationToUser">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <div class="card" id="card">
                                <div class="card-header">
                                    <h2>Aggiungi utente
                                    </h2>
                                </div>
                                <div class="mt-3 mb-2 row ml-3" id="cardBody">
                                    <label for="addUser">Crea un utente per le PA che sei autorizzato a gestire.</label>
                                    <div id="buttonAddUserToApplication" class="mt-3 mb-1 row ml-3" style="display: none"></div>
                                    <div class="col-md-3" style="text-align:right">
                                        <a href="" class="btn btn-primary pa-add-service" id="addUser" data-toggle="modal" data-target=".modal-lg-AddUser">
                                            <i class="icon-plus icons font-2xl"></i> Aggiungi Utente</a>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>




















                    <!--Aggiungi utente-->
                    <div class="modal fade modal-lg-AddUser" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">

                                <div class=" bg-color color-txt-white modal-header">
                                    <label class="l-font">Configura Utente</label>
                                    <button type="button" class="color-txt-white close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel"></h4>
                                </div>
                                <div class="modal-body">
                                    <ul class="nav nav-tabs" id="tabModalAdd" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-expanded="true">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">Profilo Utente - Attributi</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="organizations-tab" data-toggle="tab" href="#organizations" role="tab" aria-controls="organizations">Profilo Utente - Abilitazione PA</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="save-tab" data-toggle="tab" href="#save" role="tab" aria-controls="organizations">Salva</a>
                                        </li>
                                    </ul>

                                    <div>
                                        <form id="saveUserForm">
                                            <div class="tab-content" id="myTabContent">

                                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                                    {{!--
                                                    <div class="form-group">
                                                        <label for="usernameUser">Nome Utente</label>
                                                        <input type="text" name="usernameUser" class="form-control" id="usernameUser" placeholder="Nome utente">
                                                    </div> --}}
                                                    <div class="form-group">
                                                        <label for="cognomeUser">Cognome</label>
                                                        <input type="text" name="cognomeUser" class="form-control" id="cognomeUser" placeholder="Cognome">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="nameUser">Nome</label>
                                                        <input type="text" name="nameUser" class="form-control" id="nameUser" placeholder="Nome">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="codFiscUser">Codice Fiscale</label>
                                                        <input type="text" name="codFiscUser" class="form-control" id="codFiscUser" placeholder="Codice Fiscale">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="codSPIDUser">Codice SPID</label>
                                                        <input type="text" name="codSPIDUser" class="form-control" id="codSPIDUser" placeholder="codice SPID">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="emailUser">Email</label>
                                                        <input type="email" name="emailUser" class="form-control" id="emailUser" placeholder="XXX@XXX.XX">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="passwordUser">Password</label>
                                                        <input type="password" name="passwordUser" class="form-control" id="passwordUser" placeholder="Password">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="passwordUserAgain">Ripetere password</label>
                                                        <input type="password" name="passwordUserAgain" class="form-control" id="passwordUserAgain" placeholder="Password">
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                                    <div class="form-group">

                                                        <p>
                                                            <span id="alertFieldAttributes" style="display: none" class="alert alert-danger" role="alert" style=" border: solid 1px #c00; padding-bottom: 0.6em; padding-top: 0.6em; ">Verificare che tutti i campi obbligatori siano compilati</span>
                                                        </p>
                                                        <label for="rolesAttributes">Seleziona almeno un Attributo tra quelli registati in Configurazione
                                                            Applicazione
                                                        </label>

                                                        <select data-placeholder="Cerca gli attributi" name="rolesAttributes" id="rolesAttributes" class="form-control" id="ruoloUser">
                                                            <option selected disabled value>Seleziona</option>
                                                        </select>
                                                    </div>
                                                    <button type="button" class="btn btn-primary" onclick="salvaParzialeInTabella()">Inserisci</button>


                                                    <table class="table mt-5">
                                                        <thead class="m-font bold">
                                                            <tr class="text-center">
                                                                <td>Attributo</td>
                                                                <td>Azioni</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tableBodyParziale">
                                                            <!-- contenuto tabella parziale                                                               -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="tab-pane fade" id="organizations" role="tabpanel" aria-labelledby="organizations-tab">
                                                    <div class="form-group">
                                                        <p>
                                                            <span id="alertFieldOrganization" style="display: none" class="alert alert-danger" role="alert" style=" border: solid 1px #c00; padding-bottom: 0.6em; padding-top: 0.6em; ">Verificare che tutti i campi obbligatori siano compilati</span>
                                                        </p>
                                                        <label for="getOrganizationForInsertUser">Seleziona almeno una PA tra quelle disponibili</label>
                                                        {{#if user.isSuperAdmin}}
                                                        <input type="text" name="getOrganizationForInsertUser" class="form-control" id="getOrganizationForInsertUser" data-placeholder="Cerca PA"
                                                        /> {{else}}
                                                        <select data-placeholder="Cerca gli attributi" name="getOrganizationForInsertUser" id="getOrganizationForInsertUser" class="form-control"
                                                            id="getOrganizationForInsertUser">
                                                            <option selected value disabled>Seleziona</option>
                                                            {{#each user.organizzazioni}}
                                                            <option itemCode="{{this.description}}" id="{{this.codiceIpa}}" value="{{this.codiceIpa}}">{{this.description}}</option>
                                                            {{/each}}
                                                        </select>
                                                        {{/if}}
                                                    </div>
                                                    <button type="button" class="btn btn-primary" onclick="salvaParzialeOrgInTabella()">Inserisci</button>

                                                    <table class="table mt-5">
                                                        <thead class="m-font bold">
                                                            <tr class="text-center">
                                                                <td>Organizzazioni</td>
                                                                <td>Azioni</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tableOrgParziale">
                                                            <!-- contenuto tabella parziale                                                               -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="tab-pane fade" id="save" role="tabpanel" aria-labelledby="organizations-tab">
                                                    <div class="form-group">

                                                        <div class="mt-2" style="text-align:left;display:inline-block;">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
                                                        </div>
                                                        <div class="mt-2" style="text-align:right;display:inline-block;">
                                                            <a class="color-txt-white pointer btn btn-primary pa-add-service" style="color:white" id="btnSaveUser">
                                                                <span aria-hidden="true"></span>Salva utente
                                                            </a>
                                                            <span id="alertFieldGlobalSave" style="display: none" class="alert alert-danger" role="alert" style="text-align:right;display:inline-block; border: solid 1px #c00; padding-bottom: 0.6em; padding-top: 0.6em; ">Verificare che tutti i campi obbligatori siano compilati</span>
                                                        </div>
                                                    </div>



                                                </div>

                                            </div>

                                            <div>
                                                <div class="mt-1 mb-0" style="float:right;">
                                                    <button style="display: none" class="btn btn-primary" type="button" id="prevTabTopSave">INDIETRO</button>
                                                    <button class="btn btn-primary" type="button" id="nextTabTopSave">AVANTI</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Modifica utente-->
                <div class="modal fade modal-lg-EditUser" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">

                            <div class=" bg-color color-txt-white modal-header">
                                <label class="l-font">Modifica Utente</label>

                                <button type="button" class="color-txt-white close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                                <h4 class="modal-title" id="myModalLabel"></h4>
                            </div>
                            <div class="modal-body">
                                <ul class="nav nav-tabs" id="tabModalEdit" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab-edit" data-toggle="tab" href="#homeEdit" role="tab" aria-controls="home" aria-expanded="true">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab-edit" data-toggle="tab" href="#profileEdit" role="tab" aria-controls="profile">Profilo Utente - Attributi</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="organizations-tab-edit" data-toggle="tab" href="#organizationsEdit" role="tab" aria-controls="organizations">Profilo Utente - Abilitazione PA</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="save-tab-edit" data-toggle="tab" href="#editUser" role="tab" aria-controls="organizations">Modifica</a>
                                    </li>
                                </ul>

                                <div>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="homeEdit" role="tabpanel" aria-labelledby="home-tab">
                                            <form id="editUserFormEdit">
                                                <div class="form-group">
                                                    <label for="cognomeUserEdit">Cognome</label>
                                                    <input type="text" name="cognomeUserEdit" class="form-control" id="cognomeUserEdit" placeholder="Cognome">
                                                </div>
                                                <div class="form-group">
                                                    <label for="nameUserEdit">Nome</label>
                                                    <input type="text" name="nameUserEdit" class="form-control" id="nameUserEdit" placeholder="Nome">
                                                </div>
                                                <div class="form-group">
                                                    <label for="codFiscUserEdit">Codice Fiscale</label>
                                                    <input type="text" name="codFiscUserEdit" class="form-control" id="codFiscUserEdit" placeholder="Codice Fiscale">
                                                </div>
                                                <div class="form-group">
                                                    <label for="codSPIDUserEdit">Codice SPID</label>
                                                    <input type="text" name="codSPIDUserEdit" class="form-control" id="codSPIDUserEdit" placeholder="codice SPID">
                                                </div>
                                                <div class="form-group">
                                                    <label for="emailUserEdit">Email</label>
                                                    <input type="email" name="emailUserEdit" class="form-control" id="emailUserEdit" placeholder="XXX@XXX.XX">
                                                </div>
                                                {{!--
                                                <div class="form-group">
                                                    <label for="passwordUserEdit">Password</label>
                                                    <input type="password" name="passwordUserEdit" class="form-control" id="passwordUserEdit" placeholder="Password">
                                                </div>
                                                <div class="form-group">
                                                    <label for="passwordUserEditAgain">Ripetere password</label>
                                                    <input type="password" name="passwordUserEditAgain" class="form-control" id="passwordUserEditAgain" placeholder="Password">
                                                </div> --}}
                                                <input type="text" id="idUserToEdit" hidden/>
                                            </form>
                                        </div>
                                        <div class="tab-pane fade" id="profileEdit" role="tabpanel" aria-labelledby="profile-tab">
                                            <div class="form-group">

                                                <p>
                                                    <span id="alertFieldAttributesEdit" style="display: none" class="alert alert-danger" role="alert" style=" border: solid 1px #c00; padding-bottom: 0.6em; padding-top: 0.6em; ">Verificare che tutti i campi obbligatori siano compilati</span>
                                                </p>
                                                <label for="rolesAttributesEdit">Seleziona almeno un Attributo tra quelli registati in Configurazione Applicazione
                                                </label>
                                                <select data-placeholder="Cerca gli attributi" name="rolesAttributesEdit" id="rolesAttributesEdit" class="form-control" id="ruoloUser">
                                                    <option selected disabled value>Seleziona</option>
                                                </select>
                                            </div>
                                            <button type="button" class="btn btn-primary" onclick="salvaParzialeInTabellaAttrEdit()">Inserisci</button>

                                            {{!--
                                            <span id="alertFieldEdit" style="display: none" class="alert alert-danger" role="alert" style=" border: solid 1px #c00; padding-bottom: 0.6em; padding-top: 0.6em; ">Verificare che tutti i campi obbligatori siano compilati</span>
                                            --}}

                                            <table class="table mt-5">
                                                <thead class="m-font bold">
                                                    <tr class="text-center">
                                                        <td>Attributo</td>
                                                        <td>Azioni</td>
                                                    </tr>
                                                </thead>
                                                <tbody id="tableBodyParzialeAttrEdit">
                                                    <!-- contenuto tabella parziale                                                               -->
                                                </tbody>
                                            </table>

                                        </div>


                                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab-edit">
                                            <div class="form-group">

                                                <p>
                                                    <span id="alertFieldAttributesEdit" style="display: none" class="alert alert-danger" role="alert" style=" border: solid 1px #c00; padding-bottom: 0.6em; padding-top: 0.6em; ">Verificare che tutti i campi obbligatori siano compilati</span>
                                                </p>
                                                <label for="rolesAttributes">Seleziona almeno un Attributo tra quelli registati in Configurazione Applicazione
                                                </label>

                                                <select data-placeholder="Cerca gli attributi" name="rolesAttributes" id="rolesAttributes" class="form-control" id="ruoloUser">
                                                    <option selected disabled value>Seleziona</option>
                                                </select>
                                            </div>
                                            <button type="button" class="btn btn-primary" onclick="salvaParzialeInTabella()">Inserisci</button>
                                            <table class="table mt-5">
                                                <thead class="m-font bold">
                                                    <tr class="text-center">
                                                        <td>Attributo</td>
                                                        <td>Azioni</td>
                                                    </tr>
                                                </thead>
                                                <tbody id="tableBodyParziale">
                                                    <!-- contenuto tabella parziale                                                               -->
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane fade" id="organizationsEdit" role="tabpanel" aria-labelledby="organizations-tab-edit">
                                            <div class="form-group">
                                                <p>
                                                    <span id="alertFieldOrganizationEdit" style="display: none" class="alert alert-danger" role="alert" style=" border: solid 1px #c00; padding-bottom: 0.6em; padding-top: 0.6em; ">Verificare che tutti i campi obbligatori siano compilati</span>
                                                </p>
                                                <label for="getOrganizationEditUser">Seleziona almeno una PA tra quelle disponibili</label>
                                                {{#if user.isSuperAdmin}}
                                                <input type="text" name="getOrganizationEditUser" class="form-control" id="getOrganizationEditUser" data-placeholder="Cerca PA"
                                                /> {{else}}
                                                <select data-placeholder="Cerca gli attributi" name="getOrganizationEditUser" id="getOrganizationEditUser" class="form-control"
                                                    id="getOrganizationEditUser">
                                                    <option selected value disabled>Seleziona</option>
                                                    {{#each user.organizzazioni}}
                                                    <option itemCode="{{this.description}}" id="{{this.codiceIpa}}" value="{{this.codiceIpa}}">{{this.description}}</option>
                                                    {{/each}}
                                                </select>
                                                {{/if}}
                                            </div>
                                            <button type="button" class="btn btn-primary" onclick="salvaParzialeOrgInTabellaEdit()">Seleziona</button>
                                            <table class="table mt-5">
                                                <thead class="m-font bold">
                                                    <tr class="text-center">
                                                        <td>Organizzazioni</td>
                                                        <td>Azioni</td>
                                                    </tr>
                                                </thead>
                                                <tbody id="tableOrgParzialeEdit">
                                                    <!-- contenuto tabella parziale                                                               -->
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane fade" id="editUser" role="tabpanel" aria-labelledby="organizations-tab-edit">
                                            <div class="form-group">

                                                <div class="mt-2" style="text-align:left;display:inline-block;">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    <a class="color-txt-white pointer btn btn-primary pa-add-service" style="color:white" onclick="editUser()" aria-label="Close">
                                                        <span aria-hidden="true"></span>Modifica Utente
                                                    </a>
                                                    <span id="alertFieldGlobalEdit" style="display: none" class="alert alert-danger" role="alert" style=" border: solid 1px #c00; padding-bottom: 0.6em; padding-top: 0.6em; ">Verificare che tutti i campi obbligatori siano compilati</span>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div>
                                        <div class="mt-1 mb-0" style="float:right;">
                                            <button class="btn btn-primary" type="button" id="prevTabTopEdit">INDIETRO</button>
                                            <button class="btn btn-primary" type="button" id="nextTabTopEdit">AVANTI</button>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>


                    </div>



                </div>

            </div>
            <!--tab-pane GUT-->
        </div>
        <!--tab-contet-->

</div>
<!--col-md 12-->
</div>
<!--                    row-->
</div>
<!--fade in-->
</div>
<!-- /.conainer-fluid -->
</main>
</div>
<!--    app-body-->